init:
  - ps: >-
      if ($env:APPVEYOR_REPO_TAG -eq "true")
      {
        Update-AppveyorBuild -Version "$($env:APPVEYOR_REPO_TAG_NAME.substring(1))"
      }
      else
      {
        Update-AppveyorBuild -Version "$(((nuget list libphonenumber-csharp -Source https://api.nuget.org/v3/index.json | findstr "libphonenumber-csharp[^.-]") -split ' ')[1])-$($env:APPVEYOR_REPO_COMMIT.substring(0,7))"
      }
image: Visual Studio 2022
configuration: Release
environment:
  COVERALLS_REPO_TOKEN:
    secure: vncyomjYijKQKcbLpvs7DFLyNWPjW7tk9KNF/bTV5J/RxOnFydZfsJSsp7SMlvUg
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
    - main
before_build:
  - dotnet restore csharp -s https://api.nuget.org/v3/index.json
  - choco install opencover.portable
  - choco install codecov
build_script:
  - dotnet pack -c Release csharp\PhoneNumbers
  - dotnet pack -c Release csharp\PhoneNumbers.Extensions
test_script:
  - OpenCover.Console.exe -register:user -target:dotnet.exe -targetargs:"test csharp\PhoneNumbers.sln" -filter:"+[PhoneNumbers]* -[PhoneNumbers.Test]*" -excludebyattribute:*.CompilerGenerated*^ -oldStyle -returntargetcode
  - codecov -f results.xml
artifacts:
  - path: csharp\PhoneNumbers\bin\Release\libphonenumber-csharp.*
  - path: csharp\PhoneNumbers.Extensions\bin\Release\libphonenumber-csharp.extensions.*
nuget:
  account_feed: true
deploy:
  - provider: NuGet
    on:
      appveyor_repo_tag: true
    api_key:
      secure: oMtGNwL8mjahcYs1NSplqFjlqR0QOPXVAvJtvE3F/ueXJcgoImVsU/Szt2RFIahp
