version: 8.8.3
image: Visual Studio 2017
configuration: Release
branches:
  only:
  - master
skip_tags: true
environment:
  COVERALLS_REPO_TOKEN:
    secure: tHOHVQ3dw2NqnKUW3EQbBIe+ytxPnGjJ13psSpwYhxbWlvtl6CKVmqigzfCR2nSc
pull_requests:
  do_not_increment_build_number: true
before_build:
  - dotnet restore csharp -s https://api.nuget.org/v3/index.json
  - choco install opencover.portable
  - choco install codecov
build_script:
  - cmd: dotnet pack -c Release csharp\PhoneNumbers
test_script:
  - OpenCover.Console.exe -register:user -target:dotnet.exe -targetargs:"test csharp\PhoneNumbers.Test\PhoneNumbers.Test.csproj" -filter:"+[PhoneNumbers]* -[PhoneNumbers.Test]*" -oldStyle
  - codecov -f results.xml
artifacts:
  - path: csharp\PhoneNumbers\bin\Release\libphonenumber-csharp.*
nuget:
  account_feed: true
deploy:
  - provider: NuGet
    api_key:
      secure: QB8FoYFBWfFy8cxyScelVPg3X4q2BvLO0VELkUAOKT4ZHp362V7cIRq+nIrkjFJ5
